.errorMessage {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 8px;
  color: #DF373C;
  height: 20px;
  line-height: 15px;
  text-align: left;
  margin-top: 4px;
  margin-bottom: 16px;
  width: 100%;
} 