.rememberMe {
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  margin-bottom: 20px;
}

.rememberMe input[type="checkbox"] {
  /* 체크박스 스타일 */
  appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 16.67px;
  margin-right: 6px;
  cursor: pointer;
  background-image: url("/checkgray.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.rememberMe input[type="checkbox"]:checked {
  background-image: url("/checkblue.svg");
}

.rememberMe label {
  color: #b1b1b1;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
  margin-top: 0; /* 기존의 margin-top 제거 또는 0으로 변경 */
}
