:root {
  // Primary Colors
  --primary-blue: #004BD6;
  --primary-cyan: #15FFEB;
  --primary-red: #DF373C;

  // Neutral Colors
  --black: #000000;
  --white: #FFFFFF;

  // Gray Scale
  --gray-1: #545F71;
  --gray-2: #95989D;
  --gray-3: #D9D9D9;
  --gray-4: #CDCDCD;
  --gray-5: #F4F5F8;
  --gray-6: #FAFAFA;
  --gray-7: #959199;  // 추가된 컬러
  --gray-8: #E8E8E8;  // 추가된 컬러
  --gray-transparent: #00000033;
}
