.label {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 37px;
  color: #000000;
  margin-bottom: 4px; /* 필요에 따라 조절 */
}

.inputWrapper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc; /* 밑줄만 표시 */
  margin-bottom: 20px;
}

.inputWrapper input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px 0;
  background-color: transparent;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  color: #000000;
}

.inputWrapper input::placeholder {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500; /* Medium에 해당 */
  font-size: 14px;
  line-height: 38px;
  color: #b1b1b1;
}
