.headerActions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.searchContainer {
  position: relative;
  margin-right: auto;
  width: 240px;
}

.searchInput {
  padding: 12px 12px 12px 45px;
  background-color: #FAFAFA;
  border: 1px solid #E8E8E8;
  border-radius: 10px;
  width: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333;
  
  &::placeholder {
    color: #6e6e6e;
  }
  
  &:focus {
    outline: none;
    border-color: #a0a0a0;
  }
}

.searchIcon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.refreshButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: white;
  color: #004bd6;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  
  &:hover {
    background-color: #f5f8ff;
    border-color: #004bd6;
  }
  
  svg {
    transition: transform 0.3s ease;
  }
  
  &:hover svg {
    transform: rotate(180deg);
  }
}

.createButton, .primaryButton {
  text-align: center;
}

.createButton {
  width: 110px;
  height: 40px;
  background-color: white;
  color: #004bd6;
  border: 1px solid #004bd6;
  border-radius: 40px;
  padding: 0;
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
  
  a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &:hover {
    background-color: #f5f8ff;
    color: #003cad;
    border-color: #003cad;
  }
}

.primaryButton {
  width: 110px;
  height: 40px;
  background-color: #004bd6;
  color: white;
  border: none;
  border-radius: 40px;
  padding: 0;
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #003cad;
  }
} 